{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/movies/css/index.css">
{% endblock %}
{% block head %}

{% endblock %}
{% block body %}
    <div class="container">
        {% if user_info %}
            <br>
            <br>
            <div class="row">
                <table class="table table-borderless table-hover">
                    <thead class="mb-3 thead-warning border-bottom-0">
                    <tr>
                        <th scope="col" colspan="5" class="text-center"><h1 class="mx-auto">
                            <button type="button" class="btn btn-outline-danger" data-toggle="tooltip" data-placement="right" title="장르별 영화 페이지 방문횟수와 평점을 남긴 영화 데이터를 분석하여 5개의 영화를 추천해 드립니다.">{{ user_info.username }}님을
                            위한 추천 영화!</button></h1></th>
                    </tr>
                    </thead>
                    <tbody class="mt-5">
                    <tr class="table-borderless">
                        {% for image in images %}
                            <td class="overflow-hidden py-0 px-auto" style="width: 18rem;">
                                <img src="{{ image }}" alt="유저 추천 영화 {{ forloop.counter }}">
                            </td>
                        {% endfor %}
                    </tr>
                    <tr></tr>
                    <tr>
                        {% for movie in movies %}
                            <td class="text-center">
                                <a href="{% url 'posts:movie_detail' movie.id %}" class="text-reset font-weight-bolder">< {{ movie.title }} ></a>
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for movie in movies %}
                            <td class="text-center">
                                -{% for foo in movie.genre.all %}
                                    {{ foo.name }}
                                {% endfor %}-
                            </td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>


        {% else %}

        {% endif %}
    </div>
{% endblock %}
{% block script %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}