{% extends 'base.html' %}

{% block head %}
    <style>
        #map {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 56px;
            right: 0;
        }

        #footer{
            height: 100px;
            width: 100%;
        }

    </style>
    <script type="module" src="/static/main/js/map.js"></script>

{% endblock %}




{% block body %}

    <div id="map"></div>

{% endblock %}


{% block script %}

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGkdphbUoKXHT3V-zpqqGALA2uvV3adYA&callback=initMap"
      defer
    ></script>
{% endblock %}

